doctype html
html(lang='ru')
  head
    style
      include style.css
  body
    table.table_col
      colgroup
        col(style='background:#C7DAF0;')
      tbody
        tr
          th Консультация
          th #{select}
        tr
          td ФИО Ребёнка
          td #{fio}
        tr
          td Дата рождения ребёнка
          td #{birth_date} #{birth_time}
        tr
          td ФИО Мамы
          td #{fio_parent_one}
        tr
          td Дата рождения Мамы
          td #{birth_date_parent_one} #{birth_time_parent_one}
        tr
          td ФИО Папы
          td #{fio_parent_two}
        tr
          td Дата рождения Папы
          td #{birth_date_parent_two} #{birth_time_parent_two}
        tr
          td Контакты
          td #{contacts}
        if date
          tr
            td Когда записаны
            td #{dateread} #{timeat} - #{timeto}
